<h1 class="page-header">Lista de tarefas</h1>

<div class="card p-3 m-3">
    <div class="row">
        <div class="col-md-10">
            <input type="text" placeholder="Digite uma nova tarefa" class="form-control" [(ngModel)]="newTask.title">
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="createTask()">Adicionar</button>
        </div>
    </div>
</div>

<table class="table">
    <thead>
        <th>ID</th>
        <th>Título</th>
        <th>Ações</th>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{task.id}}</td>
            <td>{{task.title}}</td>
            <td>
                <a class="btn btn-info" [routerLink]="['/tasks', task.id]"><i class="fa fa-info-circle"></i></a>
                <button class="btn btn-warning"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>