<table class="table">
    <thead>
        <th>ID</th>
        <th>Título</th>
        <th>Ações</th>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks">
            <td>{{task.id}}</td>
            <td>{{task.title}}</td>
            <td>
                <a class="btn btn-info" [routerLink]="['/tasks', task.id]"><i class="fa fa-info-circle"></i></a>
                <button class="btn btn-warning"><i class="fa fa-trash"></i></button>
            </td>
        </tr>
    </tbody>
</table>