<h1>{{title}}</h1>
<table>
  <thead>
    <tr>
      <td>Id</td>
      <td>Atividades</td>
      <td>Ações</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let todo of todos">
      <td>{{todo.id}}</td>
      <td>{{todo.title}}</td>
      <td>
        <button (click)="markAsDone(todo)" *ngIf="!todo.done">Concluir</button>
        <button (click)="markAsUndone(todo)" *ngIf="todo.done">Refazer</button>
        <button (click)="remove(todo)">Remover</button>
      </td>
    </tr>
  </tbody>
</table>

<form [formGroup]="form">
  <fieldset>
    <label>Tarefa: </label>
    <input type="text" placeholder="Titulo da tarefa" maxlength="60" formControlName="title">
    <small *ngIf="form.controls.title.invalid && !form.controls.title.pristine">Este campo deve conter entre 3 e 60 caracteres</small>
    <button [disabled]="form.invalid" (click)="add()">Salvar</button>
  </fieldset>
</form>