<h1 class="page-header">Detalhes da tarefa: {{task.title}}</h1>

<form #taskForm="ngForm" (ngSubmit)="updateTask()">
  <div class="row">
    <div class="form-group col-md-6 was-validated">
      <label for="titulo" class="col-form-label">Título</label>
      <input #title="ngModel" type="text" [(ngModel)]="task.title" class="form-control" id="titulo" name="title" required minlength="3" maxlength="20">
      <div *ngIf="title.invalid && (title.touched || title.dirty)" class="text-danger">
        <small *ngIf="title.errors.required">O título é obrigatório</small>
        <small *ngIf="title.errors.minlength">O título precisa ter ao menos 3 caracteres</small>
      </div>
    </div>
    <div class="form-group col-md-3">
      <label for="deadLine" class="col-form-label">Prazo de entrega</label>
      <input #deadline type="text" [(ngModel)]="task.deadLine" class="form-control" id="deadLine" name="deadLine" [class.is-invalid]="deadline.invalid && deadline.touched">
    </div>
    <div class="form-group col-md-3">
      <label for="done" class="col-form-label">Situação da tarefa</label>
      <select type="text" [(ngModel)]="task.done" class="form-control" id="done" name="done">
        <option *ngFor="let option of taskDoneOptions" [value]="option.value">{{option.texto}}</option>
        
      </select>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-12">
      <label for="description" class="col-form-label">Descrição detalhada</label>
      <textarea type="text" [(ngModel)]="task.description" class="form-control" id="description" name="description" rows="4"></textarea>
    </div>
  </div>
  <button type="submit" class="btn btn-success" [disabled]="taskForm.invalid">Atualizar</button>
  <button class="btn btn-default" (click)="goBack()">Voltar</button>

  <hr>
  <pre>{{task | json}}</pre>
  
  <hr>
  <pre>{{title.errors | json}}</pre>

  <!-- <hr>
  <pre>title.valid: {{title.valid}}</pre>
  <pre>title.touched: {{title.touched}}</pre>
  <pre>title.pristine: {{title.pristine}}</pre>
  <pre>title.untouched: {{title.untouched}}</pre>
  <pre>title.dirty: {{title.dirty}}</pre> -->
</form>